body {
  background-color: #363636;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 1620px;
  margin: auto;
}

.header {
  max-height: 105px;
}

.header__menu-list {
  list-style: none;
  display: flex;
  width: 900px;
  justify-content: space-between;
}

.header__menu-link a {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  position: relative;
  transition: all .3s;
  padding: 15px 0 14px;
}

.header__menu-link a:hover {
  color: #C61A27;
  border: 1px solid #C61A27;
  padding: 10px 20px;
}

.header__info {
  width: 520px;
  justify-content: space-between;
  display: flex;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
}

.header__info-link {
  color: #fff;
  text-decoration: none;
}

.header__info-link:hover {
  color: #C61A27;
}

.header__info p {
  margin: 0;
}

.title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 120%;
  color: #fff;
}

.title::before {
  content: "";
  display: block;
  width: 110px;
  height: 2px;
  background: #C61A27;
  position: relative;
  top: 30px;
  left: -140px;
}

.offer {
  position: relative;
  margin-top: 40px;
  height: 899px;
}

.offer__img {
  position: absolute;
}

.offer .container {
  z-index: 9;
  position: relative;
}

.offer__box {
  margin: 236px 0px 0px auto;
  width: 795px;
  height: 380px;
  background: linear-gradient(270.1deg, #1E1E1E 14.14%, #1E1E1E 85.36%, #C61A27 85.37%, #C61A27 99.93%);
}

.offer__box-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 120%;
  margin: 70px 0px 35px 270px;
  color: #fff;
}

.offer__box-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 170%;
  color: #fff;
  margin: 0px 0px 35px 270px;
}

.offer__box-btn {
  width: 299px;
  height: 70px;
  background: #FFFFFF;
  border: none;
  padding: 20px 90px;
  margin: 0px 0px 0px 270px;
  transition: all .8s;
}

.offer__box-btn:hover {
  transition: all .8s;
  background: #C61A27;
  border: 2px solid #fff;
}

.offer__box-btn:hover a {
  color: #fff;
  margin: 0;
  padding: 0;
}

.offer__box-btn a {
  color: #363636;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 170%;
  text-decoration: none;
  text-transform: uppercase;
}

.advantage {
  margin-top: 300px;
  height: 400px;
}

.advantage .container {
  display: flex;
  flex-direction: column;
}

.advantage h2 {
  margin-left: 140px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 140%;
  color: #fff;
}

.advantage__row {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.advantage__row-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 140px;
}

.advantage__row-item-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.service {
  height: 710px;
}

.service .container {
  display: flex;
  flex-direction: column;
}

.service__title {
  margin-left: 140px;
}

.service__description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  margin-left: 140px;
  color: #fff;
}

.service__box {
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service__box-item {
  padding: 30px 25px;
  background: #1E1E1E;
  width: 730px;
  height: 210px;
  margin-bottom: 30px;
  position: relative;
}

.service__box-item-number {
  position: absolute;
  top: -25px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #FFFFFF;
}

.service__box-item-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 140%;
  color: #FFFFFF;
}

.service__box-item-description {
  margin-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #FFFFFF;
}
