html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  display: block;
  margin: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

._anim-show {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.4s;
}

._anim-show._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.4s;
}

._active ._anim-show {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.4s;
}

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-delay: 1.2s;
  transition: all 0.8s ease 0.4s;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-delay: 1.2s;
  transition: all 0.8s ease 0.4s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    transition: all 0.8s ease 0.4s;
  }
  100% {
    opacity: 1;
    transform: none;
    transition: all 0.8s ease 0.4s;
  }
}

/* raleway-300 - cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/raleway-v22-cyrillic-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v22-cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v22-cyrillic-300.woff2") format("woff2"), url("../fonts/raleway-v22-cyrillic-300.woff") format("woff"), url("../fonts/raleway-v22-cyrillic-300.ttf") format("truetype"), url("../fonts/raleway-v22-cyrillic-300.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* open-sans-regular - cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v27-cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v27-cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v27-cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v27-cyrillic-regular.woff") format("woff"), url("../fonts/open-sans-v27-cyrillic-regular.ttf") format("truetype"), url("../fonts/open-sans-v27-cyrillic-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

body {
  background-color: #363636;
  box-sizing: border-box;
  color: #fff;
}

.container {
  max-width: 1620px;
  margin: auto;
  width: 100%;
  overflow: hidden;
}

.header {
  height: 105px;
  display: flex;
  flex-wrap: wrap;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 105px;
}

.header__menu-list {
  list-style: none;
  display: flex;
  width: 900px;
  justify-content: space-between;
}

.header__menu-link a {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  position: relative;
  transition: all .3s;
  padding: 15px 0 14px;
}

.header__menu-link a:hover {
  color: #C61A27;
  border: 1px solid #C61A27;
  padding: 10px 20px;
}

.header__info {
  width: 520px;
  justify-content: space-between;
  display: flex;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
}

.header__info-link {
  color: #fff;
  text-decoration: none;
  transition: all .3s;
}

.header__info-link:hover {
  color: #C61A27;
}

.header__info p {
  margin: 0;
}

.title {
  margin-left: 140px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 120%;
  color: #fff;
}

.title::before {
  content: "";
  display: block;
  width: 110px;
  height: 2px;
  background: #C61A27;
  position: relative;
  top: 30px;
  left: -140px;
}

.offer {
  position: relative;
  min-height: 899px;
}

.offer__img {
  position: absolute;
  max-width: 1400px;
  width: 100%;
}

.offer .container {
  min-height: 899px;
  z-index: 9;
  position: relative;
}

.offer__box {
  position: relative;
  margin: 0px 0px 0px auto;
  padding-top: 20px;
  top: 236px;
  max-width: 795px;
  height: 380px;
  background: linear-gradient(270.1deg, #1E1E1E 14.14%, #1E1E1E 85.36%, #C61A27 85.37%, #C61A27 99.93%);
}

.offer__box-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 120%;
  color: #fff;
  margin: 50px 0px 0px 270px;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.offer__box-title._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.4s ease 0.4s;
}

.offer__box-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 170%;
  color: #fff;
  margin: 35px 0px 35px 270px;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.offer__box-text._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.6s ease 0.6s;
}

.offer__box-btn {
  width: 299px;
  height: 70px;
  background: #FFFFFF;
  border: none;
  padding: 20px 90px;
  margin: 0px 0px 0px 270px;
  transform: translate(0px, 120%);
  opacity: 0;
  cursor: pointer;
}

.offer__box-btn._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: 0.6s ease 1s;
}

.offer__box-btn a {
  color: #363636;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 170%;
  text-decoration: none;
  text-transform: uppercase;
}

.advantage {
  margin-top: 150px;
  min-height: 400px;
}

.advantage .container {
  display: flex;
  flex-direction: column;
}

.advantage h2 {
  margin-left: 140px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 140%;
  color: #fff;
  transform: translate(-180%, 0px);
  transition: all 0.3s ease 0.4s;
  opacity: 0;
}

.advantage h2._active {
  transform: translate(0px, 0px);
  transition: all 0.3s ease 0.4s;
  opacity: 1;
}

.advantage__row {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: baseline;
}

.advantage__row-item {
  width: 185px;
  height: 210px;
  padding: 20px;
  background: transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: .8s;
  transform: scale(0);
  opacity: 0;
}

.advantage__row-item._active {
  opacity: 1;
  transform: scale(1);
}

.advantage__row-item:hover {
  transition: .3s;
  padding: 20px;
  background: #1F1F1F;
  border-radius: 20px;
}

.advantage__row-item-text {
  margin-top: 14px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 170%;
  color: #fff;
}

.advantage__row-item._active:nth-child(1) {
  transition: 0.3s ease 0s;
}

.advantage__row-item._active:nth-child(2) {
  transition: 0.3s ease 0.1s;
}

.advantage__row-item._active:nth-child(3) {
  transition: 0.3s ease 0.2s;
}

.advantage__row-item._active:nth-child(4) {
  transition: 0.3s ease 0.3s;
}

.advantage__row-item._active:nth-child(5) {
  transition: 0.3s ease 0.4s;
}

.service {
  margin-top: 150px;
  min-height: 710px;
}

.service .container {
  display: flex;
  flex-direction: column;
}

.service__title {
  transform: translate(-180%, 0px);
  transition: all 0.8s ease 0.8s;
  opacity: 0;
}

.service__title._active {
  transform: translate(0px, 0px);
  transition: all 0.8s ease 0.8s;
  opacity: 1;
}

.service__description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  margin: 30px 0px 0px 140px;
  color: #fff;
  transform: translate(-180%, 0px);
  transition: all 0.8s ease 0.8s;
  opacity: 0;
}

.service__description._active {
  transform: translate(0px, 0px);
  transition: all 0.8s ease 0.8s;
  opacity: 1;
}

.service__box {
  margin-top: 60px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service__box-item {
  padding: 30px 25px;
  background: #1E1E1E;
  max-width: 730px;
  min-height: 210px;
  margin-bottom: 60px;
  position: relative;
}

.service__box-item-number {
  position: absolute;
  top: -25px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #FFFFFF;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.4s ease 0.4s;
}

.service__box-item-number._active {
  transform: translate(0px, 0px);
  transition: all 0.4s ease 0.4s;
  opacity: 1;
}

.service__box-item-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 140%;
  color: #FFFFFF;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.8s;
}

.service__box-item-title._active {
  transform: translate(0px, 0px);
  transition: all 0.8s ease 0.8s;
  opacity: 1;
}

.service__box-item-description {
  margin-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #FFFFFF;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.8s;
}

.service__box-item-description._active {
  transform: translate(0px, 0px);
  transition: all 0.8s ease 0.8s;
  opacity: 1;
}

.about {
  margin-top: 150px;
  min-height: 580px;
}

.about .container {
  display: flex;
  flex-direction: column;
}

.about__title {
  transform: translate(-180%, 0px);
  transition: all 0.8s ease 0.8s;
  opacity: 0;
}

.about__title._active {
  transform: translate(0px, 0px);
  transition: all 0.8s ease 0.8s;
  opacity: 1;
}

.about__box {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.about__box img {
  max-width: 795px;
  width: 100%;
  transform: translate(180%, 0px);
  transition: all 1s ease 1s;
  opacity: 0;
}

.about__box img._active {
  transform: translate(0px, 0px);
  transition: all 1s ease 1s;
  opacity: 1;
}

.about__box-text {
  margin: 0px 0px 0px 140px;
  max-width: 640px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  transform: translate(-180%, 0px);
  transition: all 1s ease 1s;
  opacity: 0;
}

.about__box-text._active {
  transform: translate(0px, 0px);
  transition: all 1s ease 1s;
  opacity: 1;
}

.delivery {
  margin-top: 150px;
}

.delivery__box {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.delivery__box p {
  margin: 0px 0px 0px 140px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.delivery__box img {
  max-width: 795px;
  width: 100%;
}

.office {
  min-height: 648px;
  margin-top: 150px;
}

.office__title {
  transform: translate(-180%, 0px);
  transition: all 0.8s ease 0.8s;
  opacity: 0;
}

.office__title._active {
  transform: translate(0px, 0px);
  transition: all 0.8s ease 0.8s;
  opacity: 1;
}

.office__box {
  margin-left: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.office__box-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  transform: translate(-180%, 0px);
  transition: all 0.8s ease 0.8s;
  opacity: 0;
}

.office__box-text._active {
  transform: translate(0px, 0px);
  transition: all 0.8s ease 0.8s;
  opacity: 1;
}

.office__box-text-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.office__box-text-titles {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin: 30px 0px;
}

.office__box-text a {
  margin: 0px 20px 0px 0px;
  display: inline-block;
  height: 60px;
}

.office__box-text-descr {
  margin: 30px 0px;
}

.office__box-text-descr a {
  text-decoration: none;
  color: #fff;
  margin-top: 30px;
}

.office__box-text-descr a:hover {
  color: #C61A27;
}

.office__box-img {
  position: relative;
  width: 796px;
  height: 568px;
  transform: translate(180%, 0px);
  transition: all 0.8s ease 0.8s;
  opacity: 0;
}

.office__box-img._active {
  transform: translate(0px, 0px);
  transition: all 0.8s ease 0.8s;
  opacity: 1;
}

.office__box-img-of-1 {
  position: absolute;
}

.office__box-img-of-2 {
  position: absolute;
  right: 0;
  z-index: 2;
  top: 103px;
}

.office__box-img-of-3 {
  position: absolute;
  left: 82px;
  bottom: 0;
}

.price {
  min-height: 1780px;
  margin-top: 150px;
}

.price .container {
  display: flex;
  flex-direction: column;
}

.price__box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.price__box-item {
  max-width: 520px;
  min-height: 835px;
  background: #1E1E1E;
  margin: 0px 20px 30px 0px;
  padding: 30px;
}

.price__box-item-img {
  width: 460px;
  height: 390px;
}

.price__box-item-img img {
  width: 100%;
  height: 100%;
  margin: auto;
}

.price__box-item-row {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid #C61A27;
}

.price__box-item-row-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
}

.price__box-item-row-price {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
}

.price__box-item-text {
  min-height: 285px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.price__box-item-text-row {
  display: flex;
  justify-content: space-between;
}

.price__box-item-text-row p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.footer {
  margin-top: 150px;
  display: flex;
  height: 204px;
  background: #1E1E1E;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footer a, .footer p {
  margin-top: 0px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
}

.footer__a {
  margin-top: 0;
}

.footer__text {
  text-align: end;
}

.footer__title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 170%;
  text-align: start;
}
